<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.msc.usermicroserv.dao.mapper.DeviceBindMapper">

    <insert id="bindDevice" parameterType="com.msc.usermicroserv.api.request.BindDeviceRequest">
        INSERT INTO device.device_bind (id, mac, patient_uuid)
        VALUES (DEFAULT, #{mac}, #{uuid})
    </insert>


</mapper>